/* common styles */
/* font import url  */
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:wght@500&family=Raleway:wght@800&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
   font-family: 'Poppins', sans-serif;
}



/*------------
 top banner starts
 -------------*/
 .container{
   /* background-color: aqua; */
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;

 }
.top-banner {
   background-color: black;
   height: 90vh;
   width: 90%;
   display: flex;
   overflow: hidden;
   border-radius: 25px;
   transition: all .3s ease-in-out;
}
.top-banner:hover .top-banner-text{
   transform: scale(.95);
}

.top-banner-text {
   /* background-color: skyblue; */
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 30px;
   padding: 0px 50px;
   transition:  transform .3s ease-in-out;

}

.top-banner-text-heading {
  color: white;
}

.top-banner-text-heading>h1 {
   font-size: 57px;
   line-height: 60px;
   margin-bottom: 20px;
}

.top-banner-link {
   /* margin-top: -130px; */
   background-color: crimson;
   width: 180px;
   padding: 13px;
   border-radius: 7px;
}

.top-banner-link a,
i {
   text-decoration: none;
   color: white;
   font-size: 16px;
   padding: 0px 10px;
}

.top-banner-right {
   /* background-color: blueviolet; */
   width: 50%;
   height: 100%;
}
.top-banner-right>img {
 height: 100%;
 transition: all .3s ease-in-out;
}
.top-banner-right:hover img{ 
      transform: scale(1.2);
      filter: drop-shadow(40px -40px 70px  green)
      drop-shadow(90px 20px 10px  rgb(238, 236, 137))
      drop-shadow(10px 90px 70px  rgb(54, 82, 247));
}

/*------------
 top banner ends
 -------------*/

/*--------------------
 blog-section starts
 ---------------------*/
/* blogs-links */
.links {
   width: 260px;
   height: 295px;
   background-color: black;
   border-radius: 7px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   
}

#active{
   background-color: white;
   width: 200px;
   padding: 10px;
   border-radius: 7px;
   text-align: center;
   text-decoration: none;
   border: 1px solid lightslategray;
   color: black;
   font-size: 20px;
}
#active:hover{
   background-color: rgb(201, 207, 212);
}
#active:focus{
   background-color: red;
}

/* blogs */
.blogs-section {
   display: flex;
   justify-content: space-around;
   column-gap: 20px;
   padding: 20px 180px;
}

.blogs {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 20px;
   row-gap: 20px;
}

.blog {
   border: 1px solid rgb(211, 211, 211);
   width: 260px;
   height: 315px;
   overflow: hidden;
   border-radius: 15px;
   transition: box-shadow .5s;
   /* background-color: aqua; */
}
.blog:hover{
   box-shadow: -2px 0px 43px -15px rgba(82, 81, 82, 1);
}

.blog-thumbnail-area img{
   width: 100%;
}

.blog-text-area {
   /* background-color: aqua; */
   line-height: 50px;
   padding: 0px 15px;
   color: black;
}
.blog-text-area i{
   color: black;
}

.blog-link a {
   text-decoration: none;
   color: black;
   border: 1px solid black;
   padding: 3px 11px;
   border-radius: 5px;
}

.blog-title h4 {
   /* background-color: rebeccapurple; */
   line-height: 20px;
}
/*--------------------
 blog-section ends
 ---------------------*/
/*----------------
 upcoming-match section start  
 -----------------*/
 .matches-section {
   display: flex;
   justify-content: space-around;
   column-gap: 20px;
   /* width: 1000px; */
   /* background-color: aqua; */
   padding: 20px 180px;
}

.matches {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 20px;
   row-gap: 20px;
}

.match {
   border: 1px solid rgb(211, 211, 211);
   width: 260px;
   height: 230px;
   overflow: hidden;
   border-radius: 15px;
   /* background-color: aqua; */
}
.match-thumbnail-area{
   /* background-color: red; */
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 30px 20px;
}
.match-thumbnail-area img{
   width: 50%;
}
.match-thumbnail-area span{
   font-size: 25px;
}
.match-text-area {
   /* background-color: aqua; */
   font-size: 15px;
   text-align: center;
   line-height: 30px;
   padding: 15px;
}

.match-link a {
   text-decoration: none;
   color: black;
   border: 1px solid black;
   padding: 3px 11px;
   border-radius: 5px;
}

.match-title h4 {
   /* background-color: rebeccapurple; */
   line-height: 20px;
}
/*----------------
 upcoming-match section end  
 -----------------*/


 /*--------------------
 footer starts
 ---------------------*/
 footer{
   width: 100%;
   height: 100%;
   background-color: black;
   color: white;
   text-align: center;
   padding-top: 30px;
 }
 footer>h2{
   font-size: 30px;
   margin-top: 20px;
 }
 footer hr{
   margin: 30px 165px;
    background-image: linear-gradient(to right, rgb(247, 247, 247) , rgb(128, 128, 128), rgb(247, 247, 247) );
    border: 0;
    height: .05em;
 }
 .authorship-information{
   /* background-color: red; */
   margin: 40px;
 }
 .authorship-information span{
   margin: 0px 10px;
 }

 /*--------------------
 footer starts ends
 ---------------------*/

/*----------------
 media queries start 
 ----------------- */
 /* media queries for mobile devices    */
 @media screen and (max-width: 576px) {
   body{
      transition: all .5s ease-in-out;
   }
   .top-banner{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
   }
    .top-banner-text{
      gap: 0px;
      /* align-items: center; */
      /* background-color: red; */
      width: 100%;
      height: 50%;
      font-size: 14px;
      text-align: center;
      padding: 18px 26px;
      align-items: center;
   }
   .top-banner-text-heading{
      padding: 10px;
   }
   .top-banner-text-heading>h1 {
      font-size: 22px;
      line-height: 23px;
   } 
  
   
   .top-banner-right {
      /* background-color: skyblue; */
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
   }
   .top-banner-right img{
      height:100%;
      object-fit: cover;
   }
   
   .links{
      background-color: white;
   }
   #active{
      border: 1px solid lightslategray;
      width: auto;
      padding: 7px 18px;
   }


   .blogs-section{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
   }
   .blogs{
      grid-template-columns: repeat(1,1fr);
      margin-bottom: 20px;
   }
   .blog{
      width: 80vw;
      height: 100vh;
   }
   .blog-text-area{
      width: 85%;
      margin-top: 0px;
      line-height: 90px;
      padding: 30px;
      font-size: 19px;
   }
   .footer hr{
   margin: 0px 65px;   
   }
 }


/* media query for tablet devices    */
@media screen and (min-width: 577px) and (max-width: 776px) {
   .top-banner{
      width: 85%;
      height: 85%;
      margin: 26px 23px;
   }
   .top-banner-text{
      /* background-color: red; */
      gap: 6px;
      /* align-items: center; */
      /* background-color: red; */
      width: 100%;
      height: 100%;
      font-size: 14px;
   }
   .top-banner-text-heading>h1{
      font-size: 40px;
      line-height: 37px;
   }
   .blogs-section{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
   }
   .links{
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 117vw;
      /* grid-template-columns: repeat(3,1fr); */
      column-gap: 20px;
      height: 100px;
      background-color: white;
   }
   
   #active{
      border: 1px solid lightslategray;
      padding:10px;
      
   }
   .blogs{
      grid-template-columns: repeat(2,1fr);
      margin-bottom: 20px;
      
   }
   .blog{
      width: 280px;
    height: 340px;
   }

}
/*----------------
 media queries end 
 ----------------- */












